{% block content %}
    <div class="layout-row">
        {% for style in asset_styles("styles.css") %}
            {{ style|raw }}
        {% endfor %}

        <div class="layout-controls">
            {{ view('fritzandandre.field_type.layout::partials.form_header', {'name': extension_name}) }}

            {{ view('fritzandandre.field_type.layout::partials.controls') }}
        </div>

        <div class="layout-form">
            {{ content|raw }}
        </div>

        {% for script in asset_scripts("scripts.js") %}
            {{ script|raw }}
        {% endfor %}
    </div>
{% endblock %}