{{ asset_add('styles.css', 'fritzandandre.field_type.layout::scss/layout-field_type.scss') }}
{{ asset_add('scripts.js', 'fritzandandre.field_type.layout::js/layout-field_type.js') }}
{{ asset_add('scripts.js', 'streams::js/table/jquery-sortable.js') }}

<div
        {{ field_type.locale ? 'lang=' ~ field_type.locale }}
        class="
            form-group
            {{ form.hasErrors() ? form.hasError(field_type.input_name) ? 'has-danger' : 'has-success' }}
            {{ field_type.input_name }}-field
            {{ field_type.slug }}-field_type
            {{ field_type.hidden ? 'hidden' }}
            ">

    <input class="delete-ids" type="hidden" name="{{ field_type.input_name }}[delete_ids]" value="">

    {% if field_type.config.disable_label != true %}
        <label class="control-label">
            {{ field_type.object.label|raw }}

            {% if field_type.required %}
                <span class="required">*</span>
            {% endif %}

            {% if field_type.locale %}
                <span class="label label-default">
                    {{ trans('streams::locale.' ~ field_type.locale ~ '.name') }}
                </span>
            {% endif %}

            <a style="margin-left: 2em;" href="#{{ field_tpye.input_name }}_add_widget" class="btn btn-sm btn-success">
                {{ trans('fritzandandre.field_type.layout::message.skip_to_add_widget') }}
            </a>

        </label>
    {% endif %}

    {% if field_type.instructions %}
        <p class="text-muted">{{ field_type.instructions|raw }}</p>
    {% endif %}

    {% if field_type.warning %}
        <p class="help-block">
            <span class="text-warning">
                {{ icon('warning') }}
                {{ field_type.warning|raw }}
            </span>
        </p>
    {% endif %}

    <div>
        <div {{ html_attributes(field_type.attributes) }}>
            <div class="layout-rows">
                {% for form in forms_html %}
                    <div class="layout-row">
                        <div class="layout-controls">
                            {{ view('fritzandandre.field_type.layout::partials.form_header', {'name': form.name}) }}

                            {{ view('fritzandandre.field_type.layout::partials.controls') }}
                        </div>

                        <div class="layout-form">
                            {{ form.html|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a id="{{ field_tpye.input_name }}_add_widget" href="/admin/layout-field_type/widgets?field_slug={{ field_type.input_name }}"
               class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal">
                <i class="fa fa-plus"></i>
                {{ trans('fritzandandre.field_type.layout::message.add_widget') }}
            </a>
        </div>
    </div>

</div>

